body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section header {
    position: absolute;
    top: 5px;
    right: 12px;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    padding: 6px;
    box-sizing: border-box;

}

section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

section header ul li{
    list-style: none;
    cursor: pointer;
}

section header ul li a{
    color: #111;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 18px;

}

section header ul li button {
    height: 36px;
    min-width: 96px;
    background-color: #286be0;
    border:  none;
    outline: none;
    padding: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 16px;  
    border-radius: 3px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.menubar:hover {
    background-color: #ebebeb;
}

section .main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}
.google{
    height: 92px;
    width: 272px;

}

section .main .searchbox{
    position: relative;
    width: 100%;
    margin-top: 27px;

}
section .main .searchbox .search{
    width: 490px;
    padding: 12px 50px 15px 40px;
    border-radius: 30px;
    border: 1px solid #ebebeb;
    outline: none;
    font-size: 16px; 
    margin-left: 390px;
}

section .main .searchbox .icon{
    position: absolute;
    top: 0;
    width: 490px;
    display: flex;
    padding: 12px 20px;
    align-items: center;
    pointer-events: none;
    margin-top: 3px;
    margin-left: 388px;
}
section .main .searchbox .icon2{
    position: absolute;
    margin-top: -52px;
    width: 490px;
    display: flex;
    padding: 12px 0px;
    align-items: center;
    pointer-events: none;
    margin-left: 890px;
    cursor: pointer;
}

section .main .searchbox .imagesearch{
    position: absolute;
    margin-top: -52px;
    width: 490px;
    display: flex;
    padding: 12px 0px;
    align-items: center;
    pointer-events: none;
    margin-left: 930px;
    cursor: pointer;
}

.buttons {
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, Helvetica, sans-serif;
    margin: 11px 6px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    height: 36px;
    min-width: 54px;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}
.button:hover {
    border: 1px solid #d5d5d5;
    box-shadow: 0px 1px 2px 0px #d5d5d5 ;
}

.lang{
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4043;
    font-size: 13px;
    margin-top: 10px;
    
}
 .lang a{
    text-decoration: none;
    color: #00399b;
 }
.lang a:hover{
    text-decoration: underline;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
}
.bd{
    padding-top: 18px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding-left: 35px;
    padding-bottom: 18px;
    color: #202124;
    
}
.row{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(0, 0, 0, 0.05);
}
.row ul{
    display: flex;
}
.row ul li{
    list-style: none;
}
.row ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #202124;
    margin-right: 25px;
    font-family: Arial, sans-serif;
}
.row ul li a:hover{
    text-decoration: underline;
}

/*Mobile view*/
@media(max-width:768px){

 section .main .s1earchbox{
    margin-top: 70px;
 }

section .main .searchbox .search{
    width: 240px;
    margin-left: 15px;
    padding: 9px 50px 9px 40px;
}
section .main .searchbox .icon{
    margin-top: 0px;
    margin-left: 6px;
}
section .main .searchbox .icon2{
    margin-top: -47px;
    width: 321px;
    margin-left: 275px;
}
section .main .searchbox .imagesearch{
    margin-top: -47px;
    width: 321px;
    margin-left: 309px;
}

.google{
    margin-top: 70px;
    height: 50px;
    width: 150px;

}
.row ul{
    display: block;
}

}

